# Eclipse project files
.project
.classpath
.settings

# IntelliJ IDEA project files and directories
*.iml
*.ipr
*.iws
.idea/

# Geany project file
.geany

# KDevelop project file and directory
.kdev4/
*.kdev4

# src.deprecated
/src.deprecated

# Build targets
/target
*/target

# docs,log,bak
/docs
*.log
*.bak

# tools
/mybatis-generator-core-1.3.2
/lib-jri
/lib-rserve
/lib
*.cmd
